<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>

  <body>
    <div class="wrapper">
      <%- include('../partials/menu')%>

      <div class="main">
        <%- include('../partials/header')%>
        <main class="content refreshHero">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header bg-light">
                    Category List
                    <span class="badge bg-primary text-white"
                      ><%=categoryList.length%></span
                    >
                    <div class="float-right">
                      <a href="/Categories/New" class="btn btn-primary"
                        >Add New Category</a
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <table
                      id="catTable"
                      class="table table-striped table-bordered"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%categoryList.map(cat=>{%>
                        <tr>
                          <td><%=cat.title%></td>
                          <td class="text-right">
                            [<a href="">edit</a>] [<a
                              href=""
                              class="text-danger"
                              >delete</a
                            >]
                          </td>
                        </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../partials/footer')%>
      </div>
    </div>
    <%- include('../partials/footerLinks')%>
    <script>
      $(document).ready(function () {
        $("#catTable").DataTable();
      });
    </script>
  </body>
</html>
