<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>

  <body>
    <div class="wrapper">
      <%- include('../partials/menu')%>

      <div class="main">
        <%- include('../partials/header')%>
        <main class="content refreshHero">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header bg-light">New Category</div>
                  <div class="card-body">
                    <div class="card-body">
                      <form
                        method="post"
                        id="data"
                        encType="multipart/form-data"
                      >
                        <div class="form-group">
                          <label class="form-label">*Title</label
                          ><small
                            id="title_er"
                            class="text-danger float-right"
                          ></small>
                          <input
                            type="text"
                            class="form-control"
                            id="title"
                            placeholder="Title"
                          />
                        </div>
                        <div class="form-group">
                          <label class="form-label">Description</label>
                          <small
                            id="description_er"
                            class="text-danger float-right"
                          ></small>
                          <textarea
                            class="form-control"
                            placeholder="Discription"
                            id="description"
                            rows="4"
                          ></textarea>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <small class="form-text text-muted"
                              >* Required fields</small
                            >
                          </div>
                          <div class="col-8">
                            <div class="float-right">
                              <button
                                type="submit"
                                class="btn btn-primary addCategory"
                              >
                                Add Category
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../partials/footer')%>
      </div>
    </div>
    <%- include('../partials/footerLinks')%>
    <script>
      $("form#data").submit(function (e) {
        e.preventDefault();
        var loadingText = 'Add Category <i class="fa fa-spinner fa-spin"></i>';
        var formData = {};
        formData.title = $("#title").val();
        formData.description = $("#description").val();

        $.ajax({
          url: window.location.pathname,
          type: "POST",
          data: formData,
          success: function (data) {
            if (data.status) {
              toastr.success(data.succMsg);
              document.forms["data"].reset();
            } else {
              $("#title_er").text(data.parseErrors.title || "");
              $("#description_er").text(data.parseErrors.description || "");
            }
          },
        });
      });
    </script>
  </body>
</html>
