<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <div class="wrapper">
      <%- include('../partials/menu')%>

      <div class="main">
        <%- include('../partials/header')%>
        <div class="row">
          <div class="col-lg-12">
            <div class="card bg-warning">
              <div class="card-body">
                <div class="col-lg-12">
                  <span
                    ><i
                      class="fa fa-home text-primary"
                      style="font-size: 35px; float: left"
                    ></i
                  ></span>
                  <strong
                    style="font-size: 20px; margin-left: 10px"
                    class="text-primary"
                    id="label"
                  >
                    New Product</strong
                  >
                  <div class="float-right">
                    <a href="/Product" class="btn btn-dark">
                      <i class="align-middle" data-feather="rotate-ccw"></i>
                      Back</a
                    >
                    <button
                      type="button"
                      class="btn alert-secondary"
                      id="more"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="align-middle" data-feather="more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item <%=tab == 'category' && 'active'%>"
                        href="/Product/Category"
                        ><i class="align-middle mr-1" data-feather="list"></i>
                        Manage Categories
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item <%=tab == 'brand' && 'active'%>"
                        href="/Product/Brand"
                        ><i class="align-middle mr-1" data-feather="rss"></i>
                        Brand
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item <%=tab == 'measurement' && 'active'%>"
                        href="/Product/Measurement"
                        ><i
                          class="align-middle mr-1"
                          data-feather="thermometer"
                        ></i>
                        Unit of Measurement
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item <%=tab == 'product' && 'active'%>"
                        href="/Product"
                        ><i class="align-middle mr-1" data-feather="tag"></i>
                        Products
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main class="content refreshHero">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header bg-light">New Product</div>
                  <div class="card-body">
                    <div class="card-body">
                      <form method="post" id="data" action="/Product/New">
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>Product Code*</strong></label
                          >
                          <div class="col-sm-9">
                            <small class="text-danger float-right"></small>
                            <input
                              type="text"
                              name="productCode"
                              class="form-control"
                              placeholder="Product Code"
                              value="<%=productCode%>"
                              readonly
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>Product Name*</strong></label
                          >
                          <div class="col-sm-9">
                            <small class="text-danger float-right"></small>
                            <input
                              type="text"
                              class="form-control"
                              id="productName"
                              name="productName"
                              placeholder="Product Name"
                              readonly
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>Category*</strong></label
                          >
                          <div class="col-sm-9">
                            <small class="text-danger float-right"></small>
                            <select
                              id="categoryList"
                              name="categoryList"
                              class="form-control selectpicker"
                              data-live-search="true"
                            >
                              <option value="">Select option</option>
                              <%categoryList.map((cat,i)=>{%>
                              <option value="<%=cat.title%>">
                                <%=cat.title%>
                              </option>
                              <%})%>
                            </select>
                            <a href="/Product/Category/New"
                              >Manage Categories</a
                            >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>Brand Name*</strong></label
                          >
                          <div class="col-sm-9">
                            <small class="text-danger float-right"></small>

                            <select
                              id="brandList"
                              name="brandList"
                              class="form-control selectpicker"
                              data-live-search="true"
                            >
                              <option value="">Select option</option>
                              <%brandList.map(brand=>{%>
                              <option value="<%=brand.title%>">
                                <%=brand.title%>
                              </option>
                              <%})%>
                            </select>
                            <a href="/Product/Brand/New">Manage Brands</a>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>U/M*</strong></label
                          >
                          <div class="col-sm-9">
                            <small class="text-danger float-right"></small>

                            <select
                              id="measurementList"
                              name="measurementList"
                              class="form-control selectpicker"
                              data-live-search="true"
                            >
                              <option value="">Select option</option>
                              <%measurementList.map(measurement=>{%>
                              <option value="<%=measurement.title%>">
                                <%=measurement.title%>
                              </option>
                              <%})%>
                            </select>
                            <a href="/Product/Measurement/New"
                              >Manage Measurements</a
                            >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-form-label col-sm-3"
                            ><strong>Product Details</strong></label
                          >
                          <div class="col-sm-9">
                            <small
                              id="productName_er"
                              class="text-danger float-right"
                            ></small>
                            <textarea
                              class="form-control"
                              name="productDetails"
                              rows="2"
                            ></textarea>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-4">
                            <small class="form-text text-muted"
                              >* Required fields</small
                            >
                          </div>
                          <div class="col-8">
                            <div class="float-right">
                              <button
                                type="submit"
                                class="btn btn-primary addCategory"
                              >
                                Save
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../partials/footer')%>
      </div>
    </div>
    <%- include('../partials/footerLinks')%>
    <script>
      var brandName = "";
      var categoryName = "";
      var measurementName = "";
      var productNameBind = "";
      var productName = $("#productName");

      $("#categoryList").change(function () {
        categoryName = $(this).val();
        productNameBind += `${categoryName}`;
        productName.val(productNameBind);
      });
      $("#brandList").change(function () {
        brandName = $(this).val();
        productNameBind += `-${brandName}`;
        productName.val(productNameBind);
      });
      $("#measurementList").change(function () {
        measurementName = $(this).val();
        productNameBind += `-${measurementName}`;
        productName.val(productNameBind);
      });
    </script>
    <!-- <script>
      $("form#data").submit(function (e) {
        e.preventDefault();
        var loadingText = 'Saving <i class="fa fa-spinner fa-spin"></i>';
        var formData = {};
        formData.store = storeList;
        formData.category = categoryList;
        formData.itemName = $("#itemName").val();
        formData.purchasePrice = $("#purchasePrice").val();
        formData.salePrice = $("#salePrice").val();
        formData.stock = $("#stock").val();
        var e = document.getElementById("store");
        var strUser = e.value;
        $.ajax({
          url: window.location.pathname,
          type: "POST",
          data: formData,
          success: function (data) {
            if (data.status) {
              toastr.success(data.succMsg);
              // document.forms["data"].reset();
              $("#itemName").val("");
              $("#purchasePrice").val("");
              $("#salePrice").val("");
              $("#stock").val("");
              $("#itemName").focus();
            } else {
              $("#store_er").text(data.parseErrors.store || "");
              $("#itemName_er").text(data.parseErrors.itemName || "");
              $("#category_er").text(data.parseErrors.category || "");
              $("#purchasePrice_er").text(data.parseErrors.purchasePrice || "");
              $("#salePrice_er").text(data.parseErrors.salePrice || "");
              $("#stock_er").text(data.parseErrors.stock || "");
            }
          },
        });
      });
    </script> -->
  </body>
</html>
