<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>

  <body>
    <div class="wrapper">
      <%- include('../partials/menu')%>

      <div class="main">
        <%- include('../partials/header')%>
        <div class="row">
          <div class="col-lg-12">
            <div class="card bg-warning">
              <div class="card-body">
                <div class="col-lg-12">
                  <span
                    ><i
                      class="fa fa-home text-primary"
                      style="font-size: 35px; float: left"
                    ></i
                  ></span>
                  <strong
                    style="font-size: 20px; margin-left: 10px"
                    class="text-primary"
                    id="label"
                  >
                    New Customer</strong
                  >
                  <div class="float-right">
                    <a href="/Customers" class="btn btn-dark">
                      <i class="align-middle" data-feather="rotate-ccw"></i>
                      Back</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main class="content refreshHero">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header bg-light">New Customer</div>
                  <div class="card-body">
                    <div class="card-body">
                      <form
                        method="post"
                        id="data"
                        encType="multipart/form-data"
                      >
                        <div class="form-group">
                          <label class="form-label">*Customer Name</label
                          ><small
                            id="customerName_er"
                            class="text-danger float-right"
                          ></small>
                          <input
                            type="text"
                            class="form-control"
                            id="customerName"
                            placeholder="Customer name"
                          />
                        </div>
                        <div class="form-group">
                          <label class="form-label">*Phone</label
                          ><small
                            id="phone_er"
                            class="text-danger float-right"
                          ></small>
                          <input
                            type="text"
                            class="form-control"
                            id="phone"
                            placeholder="Customer phone number here"
                          />
                        </div>
                        <!-- <div class="form-group">
                          <label class="form-label"
                            >Discount <i id="disc"></i> </label
                          ><small
                            id="discount_er"
                            class="text-danger float-right"
                          ></small>
                          <input
                            type="text"
                            class="form-control"
                            id="discount"
                            placeholder="0%"
                          />
                        </div> -->
                        <div class="row">
                          <div class="col-4">
                            <small class="form-text text-muted"
                              >* Required fields</small
                            >
                          </div>
                          <div class="col-8">
                            <div class="float-right">
                              <button
                                type="submit"
                                class="btn btn-primary addCategory"
                              >
                                Add Customer
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../partials/footer')%>
      </div>
    </div>
    <%- include('../partials/footerLinks')%>
    <script>
      // $("#discount").keyup((e) => {
      //   let input = $("#discount").val();
      //   let wrap = $("#disc");
      //   let discount = input / 100;
      //   let cal = 1000 * discount;
      //   wrap.text(`eg: ${input}% of 1000 = ${cal}`);
      // });
      $("form#data").submit(function (e) {
        e.preventDefault();
        var loadingText = 'Add Customer <i class="fa fa-spinner fa-spin"></i>';
        var formData = {};
        formData.customerName = $("#customerName").val();
        formData.phone = $("#phone").val();
        // formData.discount = $("#discount").val();

        $.ajax({
          url: window.location.pathname,
          type: "POST",
          data: formData,
          success: function (data) {
            if (data.status) {
              toastr.success(data.succMsg);
              document.forms["data"].reset();
            } else {
              $("#customerName_er").text(data.parseErrors.customerName || "");
              $("#phone_er").text(data.parseErrors.phone || "");
              $("#discount_er").text(data.parseErrors.discount || "");
            }
          },
        });
      });
    </script>
  </body>
</html>
